@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?jl5au0');
    src: url('../fonts/icomoon.eot?jl5au0#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?jl5au0') format('truetype'),
        url('../fonts/icomoon.woff?jl5au0') format('woff'),
        url('../fonts/icomoon.svg?jl5au0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623
}

/* 快捷导航模块 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background: #f1f1f1
}

.shortcut li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    margin: 9px 15px 0;
    width: 1px;
    height: 13px;
    background: #666
}

.arrow-icon::after {
    margin-left: 2px;
    font-family: 'icomoon' !important;
    content: "\e900";

}

/* 头部制作*/
.header {
    position: relative;
    height: 105px;
    background: pink;
}

.logo {
    position: absolute;
    top: 25px;
    width: 186px;
    height: 61px;
    background: skyblue
}

.logo a {
    display: block;
    width: 186px;
    height: 61px;
    background: url('../images/Logo.png') no-repeat;
    /* font-size: 0; */
    text-indent: -9999px;
    overflow: hidden;
}