@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?s8v9wf');
    src: url('../fonts/icomoon.eot?s8v9wf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?s8v9wf') format('truetype'),
        url('../fonts/icomoon.woff?s8v9wf') format('woff'),
        url('../fonts/icomoon.svg?s8v9wf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623
}

/* 快捷导航模块 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background: #f1f1f1
}

.shortcut li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    margin: 9px 15px 0;
    width: 1px;
    height: 13px;
    background: #666
}

.arrow-icon::after {
    margin-left: 2px;
    font-family: 'icomoon' !important;
    content: "\e900";

}

/* 头部制作*/
.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    width: 186px;
    height: 61px;
}

.logo a {
    display: block;
    width: 186px;
    height: 61px;
    background: url('../images/Logo.png') no-repeat;
    /* font-size: 0; */
    text-indent: -9999px;
    overflow: hidden;
}

/* search */
.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    padding-left: 10px;
    width: 454px;
    height: 32px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    background: #b1191a;
    font-size: 16px;
    color: #fff
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;

}

.hotwords a {
    margin: 0 10px;
}

/* shopcar 开始 */
.shopcar {
    position: absolute;
    right: 60px;
    top: 25px;
    border: 1px solid #dfdfdf;
    width: 140px;
    height: 35px;
    background: #f7f7f7;
    line-height: 35px;
    text-align: center;
}

.shopcar::before {
    margin-right: 5px;
    font-family: 'icomoon';
    content: '\e93a';
    color: #b1191a
}

.shopcar::after {
    margin-left: 10px;
    font-family: 'icomoon';
    content: '\e902'
}

.count {
    position: absolute;
    top: -5px;
    left: 105px;
    border-radius: 7px 7px 7px 0;
    padding: 0 5px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    background: #e60012
}

/*nav*/
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    width: 210px;
    height: 45px;
    background: #b1191a
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: #fff;
}

.dropdown .dd {
    width: 210px;
    height: 467px;
    background: #c81623;
}

.dropdown .dd ul li {
    position: relative;
    margin-left: 2px;
    padding-left: 10px;
    height: 31px;
    line-height: 31px;
    color: #fff;

}

.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 14px;
    font-family: 'icomoon';
    content: '\e902'
}



.dropdown .dd ul li:hover {
    color: #c81623;
    background: #fff;
}

.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}

.dropdown .dd ul li:hover a {
    color: #c81623;
}