@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?s8v9wf');
    src: url('../fonts/icomoon.eot?s8v9wf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?s8v9wf') format('truetype'),
        url('../fonts/icomoon.woff?s8v9wf') format('woff'),
        url('../fonts/icomoon.svg?s8v9wf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w {
    margin: 0 auto;
    width: 1200px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

/* 快捷导航 开始 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background: #f1f1f1;
}

.shortcut .login {
    float: left;
}

.shortcut ul {
    float: right;
}

.shortcut ul li {
    float: left;
}

.shortcut ul li a {
    padding: 0 15px;
}

.arrow-icon::after {
    font-family: 'icomoon';
    content: '\e900';
}

/* 快捷导航 结束 */

/* header start */
.header {
    position: relative;
    height: 103px;
}

.logo {
    position: absolute;
    top: 26px;
    width: 175px;
    height: 56px;
    line-height: 56px
}

.search {
    position: absolute;
    top: 25px;
    left: 347px;
    height: 36px;
}

.search .int {
    width: 539px;
    height: 36px;
    line-height: 36px;
}

.search button {
    border: none;
    width: 82px;
    height: 36px;
    background: #b1191a;
    color: #fff;
    outline: none;
}

.hotwords {
    position: absolute;
    top: 68px;
    left: 348px;
}

.hotwords ul li {
    float: left;
}

.hotwords ul li a {
    padding: 0 10px;
}

.card {
    position: absolute;
    top: 25px;
    right: 63px;
    text-align: center;
}

.card a {
    display: block;
    width: 142px;
    height: 36px;
    line-height: 36px;
    background: #f7f7f7;
}

.card a::before {
    content: "\e93a";
    font-family: 'icomoon';
    margin-right: 7px;
}

.card a::after {
    content: "\e902";
    font-family: 'icomoon';
    margin-left: 7px;
}

.card .num {
    position: absolute;
    top: -7px;
    left: 105px;
    display: block;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    padding: 0 8px;
    background: red;
    color: #fff
}

/* header end  */

/* nav start */
.nav {
    border-bottom: 2px solid #b1191a;
    height: 48px;
    background: pink;
}

.nav .dropdown {
    width: 210px;
}

.dropdown dt {
    height: 50px;
    line-height: 47px;
    background: #b1191a;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff
}

.dropdown dd {
    padding: 8px 0;
    height: 456px;
    background: #c81623;
    color: #fff
}

.dropdown dd ul li {
    margin-left: 1px;
    padding-left: 8px;
    height: 31px;
    line-height: 31px;
}

.dropdown dd ul li:hover,
.dropdown dd ul li:hover a {
    background: #fff;
    color: #c81623
}

.dropdown dd a {
    font-size: 14px;
    color: #fff
}

.navitems li {
    float: left;
    height: 50px;
    line-height: 50px;
}

.navitems li a {
    padding: 0 17.5px;
    font-size: 16px;
    color: #333333;
}

/* nav end */



/* footer start */
.footer {
    height: 416px;
    background: #f5f5f5;
}

.mod_servers {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.mod_servers ul li {
    float: left;
    width: 240px;
}

.mod_servers ul li img {
    float: left;
    padding-right: 6px;
    vertical-align: middle;
}

.mod_servers ul li h4 {
    margin-top: 10px;
}

.mod_help {
    padding-top: 22px;
}

.mod_help dl {
    float: left;
    width: 200px;
}

.mod_copyright {
    padding-top: 20px;
}

.mod_copyright .links {
    text-align: center;
}

.links a {
    padding: 0 15px
}

.mod_copyright .copy_right {
    text-align: center;
}

.copy_right {
    padding-top: 15px;
}

/* footer end */