/* focus start */
.main {}

.focus {
    float: left;
    margin-top: 9px;
    margin-left: 10px;
    /* 这里为什么不可以用221px ?????????????*/
    /* margin-left: 221px; */
    width: 722px;
    height: 455px;
}

.new_flash {
    float: left;
    margin-left: 6px;
    margin-top: 9px;
    border: 1px solid #e4e4e4;
    width: 251px;
    height: 455px;
}

.news .hd {
    border-bottom: 1px dotted #ccc;
    padding: 0 15px;
    height: 34px;
    line-height: 34px
}

.news .bd {
    padding: 5px 15px;
    border-bottom: 1px solid #ccc;
    height: 131px;
}

.news .bd ul li {
    height: 25px;
    line-height: 25px;
}

.news .bd ul li a {
    font-size: 14px;
}

.news .hd h4 {
    float: left;
    font-size: 14px;
}

.news .hd a {
    float: right;
    font-size: 14px;
}

.news_service {
    border-bottom: 1px solid #ccc;
    width: 248px;
    height: 208px;
    overflow: hidden;
}

.news_service ul {
    width: 252px;
}

.news_service ul li {
    float: left;
    border: 1px solid #ccc;
    border-left: none;
    border-top: none;
    width: 63px;
    height: 71px;
    text-align: center
}

.news_service .icon-bg {
    display: inline-block;
    margin-top: 12px;
    width: 20px;
    height: 25px;
    text-align: center;
    background: url('/images/icons.png') no-repeat -18px -16px;
}

.news_service ul li span {
    display: block;
}

/* focus end */

/* .recommd  start */
.recommd {
    margin-top: 11px;
}

.recommd ul li {
    float: left;
    height: 165px;
    position: relative
}

.recommd ul li:first-child {
    width: 206px;
    height: 164px;
    background: #5c5251;
    text-align: center;
    line-height: 164px;
}

.recommd ul li:nth-child(-n+4) a::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    border-right: 1px solid #ccc;
    width: 1px;
    height: 143px;
}

/* recommd  end */
/* jiadian start */
.jiadian .hd {
    border-bottom: 1px solid #c81623;
    height: 30px;
    line-height: 30px
}

.jiadian .hd ul li {
    float: left;
}

.jiadian .hd ul li a {
    padding: 0 7px;
}

.col-210 {
    width: 210px;
    background: #f9f9f9;
}

.col-330 {
    width: 330px;
}

.col-220 {
    width: 220px;
}

.col-210 ul li {
    float: left;
    margin: 0 6px;
    border-bottom: 1px solid #ededed;
    width: 86px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.jiadian .bd div {
    float: left;
    height: 360px;
}

.bd>div:nth-child(3) {
    border-right: 1px solid #ccc
}

.bd .bb a {
    display: block;
    height: 180px;

}

.bd .bb a:first-child {
    border-bottom: 1px solid #ccc;
}

/* jiadian end */