.main {
    margin-top: 10px;
    margin-left: 220px;
    width: 980px;
    height: 455px;

}

.focus {
    float: left;
    width: 721px;
    height: 455px;
}

.newflash {
    float: right;
    width: 250px;
    height: 455px;
    background: skyblue
}