body {
    height: 3000px;
}

.main {
    margin-top: 10px;
    margin-left: 218px;
    height: 455px;
}

.focus {
    float: left;
}

.newflash {
    float: left;
    border: 1px solid #e4e4e4;
    width: 251px;
    height: 453px;
    margin-left: 8px;
    overflow: hidden;
}

.newflash .news {
    width: 251px;
    height: 166px;
    /* background: pink; */
}

.newflash .news .hd {
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
}

.newflash .news .hd h4 {
    float: left;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #333333
}

.news .bd {
    border-bottom: 1px solid #ccc;
    height: 131px;

}

.news .bd strong {
    font-weight: 700
}

.newflash .news .bd ul li {
    padding: 0 15px;
    line-height: 25px;
}

.hd a {
    float: right;
}

.newflash .news .hd a::after {
    font-family: 'icomoon';
    content: "\e902"

}

.newflash .lifeservice {
    width: 251px;
    height: 209px;
    /* background: rgb(149, 140, 140) */
}

.newflash .bargain {
    margin-top: 5px;
    width: 251px;
    height: 75px;
    /* background: rgb(177, 126, 126) */
}

/* lifeservice */
.lifeservice ul {
    width: 256px;
}

.lifeservice ul li {
    float: left;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    width: 63px;
    height: 68px;
    text-align: center;
}



.lifeservice ul li i {
    margin-top: 15px;
    display: inline-block;
    width: 19px;
    height: 24px;
    background: url('../images/icons.png') -19px -16px no-repeat;
}

.lifeservice ul li span {
    display: block;
}

.bargain {
    margin-top: 5px;
}

.bargain img {
    width: 100%;
}

/* recommend */
.recommend {
    margin-top: 11px;
    overflow: hidden;
    background: #ebebeb;
}

.recommend ul {
    width: 1206px;
}

.recommend ul li {
    position: relative;
    float: left;
    height: 163px;
}

.recommend ul li:nth-child(n+2)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    display: block;
    width: 1px;
    height: 142px;
    background: #dddddd;
}

.col-206 {
    width: 206px;
    background: #333333;
    text-align: center;
    line-height: 163px;
}


.col-250 {
    width: 250px;
}