/* header start */
.sk {
    position: absolute;
    left: 197px;
    top: 40px;
}

/* header end */
nav .hd {
    float: left;
}

nav .hd ul li {
    float: left;
    height: 48px;
    line-height: 48px
}

nav .hd ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #000000
}

nav .items {
    float: left;
}

nav .items ul li {
    float: left;
    height: 48px;
    line-height: 48px
}

nav .items ul li a {
    padding: 0 17px;
    font-size: 14px;
    color: #666666;
}

nav .items ul li:last-child ::after {
    content: '\e900';
    font-family: 'icomoon';
}

/* nav end */

/* main  bd start */
.main .bd ul li {
    float: left;
    border: 1px solid transparent;
    width: 292px;
    height: 458px;
}

.main .bd ul li:hover {
    border: 1px solid #e12228;
}

/* main  bd end */

/* footer start */
.footer {
    margin-top: 10px;
}

/* footer end */