.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81524
}

.logo {
    padding-top: 18px
}

.registerarea {
    margin-top: 20px;
    height: 522px;
    border: 1px solid #ccc
}

.registerarea h3 {
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    height: 42px;
    background: #ececec;
    line-height: 42px;
    font-size: 18px;
    font-weight: 400
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: #c81524
}

.reg_from {
    width: 600px;
    background: pink;
    margin: 50px auto 0;
}

.reg_from ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_from ul li input {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc
}

.error {
    color: #c81524
}