body {
    height: 3000px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 2px solid #b1191a;
    padding-top: 13px;
    height: 70px;
}

.register_area {
    margin-top: 20px;
    border: 1px solid #dfdfdf;
    border-top: none;
    height: 525px;
}

.register_area .hd {
    margin-bottom: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #dddddd;
    height: 42px;
    line-height: 42px;
    background: #ececec;
}

.register_area .hd h4 {
    float: left;
    font-size: 18px;
    color: #333333;
}

.register_area .hd span {
    float: right;
}

.style_red {
    color: #c81623
}


.register_area .bd {
    margin: 0 auto;
    width: 548px;
    height: 375px;
}

.register_area ul li {
    margin-bottom: 18px;
}

.register_area .bd ul label {
    display: inline-block;
    width: 87px;
    text-align: right
}

.register_area .bd .int {
    width: 242px;
    height: 37px;
}

.register_area ul .error {
    line-height: 41px;
}

.succss_icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    background: url('../images/success.png') no-repeat;
}

.register_area .error_icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    background: url('../images/error.png') no-repeat;
}

.register_area .save {
    padding-left: 170px
}

.save em {
    color: #fff;
    display: inline-block;
    width: 34px;
}

.save .ruo {
    text-align: center;
    background: #de1111;
}

.save .zhong {
    text-align: center;
    background: #40b83f;
}

.save .qiang {
    text-align: center;
    background: #f79100;
}

.agree {
    padding-left: 87px;
}

.agree a {
    color: #1ba1e6
}

.bd ul li:last-child {
    padding-left: 100px;
}

.bd ul li:last-child input {
    width: 200px;
    height: 34px;
    background: #c81623;
    font-size: 14px;
    color: #fff;
}