@font-face {
    font-family: 'icomoon';
    src: url('../..fonts/icomoon.eot?s8v9wf');
    src: url('../fonts/icomoon.eot?s8v9wf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?s8v9wf') format('truetype'),
        url('../fonts/icomoon.woff?s8v9wf') format('woff'),
        url('../fonts/icomoon.svg?s8v9wf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #ffffff
}

.w {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;

}

.style-red {
    color: #f10215
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 快捷导航  开始*/
.shortcut {
    height: 30px;
    line-height: 30px;
    background: #f1f1f1;
}


.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    margin: 9px 14px 10px;
    width: 1px;
    height: 13px;
    background: #666666
}

.shortcut .arrow-icon::after {
    font-family: 'icomoon';
    content: "\e900"
}

/* 快捷导航 结束 */

.header {
    position: relative;
    margin-top: 26px;
    height: 105px;
    background: #ffffff
}

.header .logo {
    position: absolute;
    top: 25px;
    width: 175px;
    height: 56px;
}

.header .logo a {
    display: block;
    width: 175px;
    height: 56px;
    background: url('../../images/logo.png') no-repeat top center;
    font-size: 0;
}

.header .search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.header .search input {
    float: left;
    padding-left: 11px;
    width: 456px;
    height: 32px;
    border: none;
    outline: none;
}

.header .search button {
    float: left;
    border: none;
    width: 78px;
    height: 32px;
    color: #fff;
    outline: none;
    background: #b1191a
}

.header .hotwords {
    position: absolute;
    top: 68px;
    left: 359px;
}

.header .hotwords ul li {
    float: left;
}

.header .hotwords ul li a {
    margin-right: 10px;
}

.header .shopcar {
    position: absolute;
    top: 25px;
    right: 64px;
    border: 2px solid #dfdfdf;
    width: 140px;
    height: 36px;
    text-align: center;
    line-height: 36px
}

.header .shopcar::before {
    margin-right: 6px;
    content: '\e93a';
    font-family: 'icomoon';
    color: #b1191a;
}

.header .shopcar::after {
    position: relative;
    top: 2px;
    content: '\e902';
    font-size: 14px;
    font-family: 'icomoon';
}

.header .shopcar .count {
    position: absolute;
    top: -7px;
    left: 105px;
    height: 14px;
    border-radius: 7px 7px 7px 0;
    padding: 0 5px;
    line-height: 14px;
    color: #fff;
    background: #ff0000
}