/* focus 开始 */
.main {
    margin-top: 10px;
}

.main .focus {
    float: left;
    margin-left: 220px;
    width: 721px;
    height: 455px;
    background: pink;
}

.main .focus img {
    width: 100%;
    height: 100%;
}



/* focus 结束 */

/* newsflash 开始 */
.newsflas {
    overflow: hidden;
}

.main .newsflas {
    float: right;
    width: 250px;
    height: 455px;
}

.newsflas .news {
    border: 1px solid #ccc;
    width: 250px;
    height: 165px;
}

.newsflas .lifeserviece {
    width: 250px;
    height: 209px;
}

.newsflas .bargain {
    margin-top: 5px;
    width: 250px;
    height: 76px;
}

.newsflas .news_hd {
    padding: 0 15px;
    /* border-bottom: 1px dotted #ccc; */
    height: 32px;
    line-height: 32px;
}

.newsflas .news_hd h5 {
    float: left;
    font-size: 14px;
    color: #333333;
}

.newsflas .news_hd a {
    float: right;
    font-size: 14px;
    color: #333333;
}



.news_bd ul li {
    height: 25px;
    padding: 12px 15px 10px;
}

/* newsflash 结束 */

/*lifeserviece 开始 */

.lifeserviece {
    border: 1px solid #e8e8e7;
    border-top: none;
    overflow: hidden;
}

.lifeserviece ul {
    width: 250px;
    height: 209px;
}

.lifeserviece ul li {
    float: left;
    border-right: 1px solid #e8e8e7;
    border-bottom: 1px solid #e8e8e7;
    width: 62.5px;
    height: 71px;
    text-align: center;
}

.lifeserviece ul li i {
    display: inline-block;
    margin-top: 13px;
    width: 19px;
    height: 24px;
    background: url('../../images/icons.png') -19px -16px no-repeat;
}

/* lifeserviece 结束 */

/* recom_hd 开始 */
.recom {
    height: 164px;
}

.recom_hd {
    float: left;
    width: 206px;
    height: 164px;
    background: #5c5251;
    line-height: 164px;
    text-align: center;
}

.recom_bd {
    float: left;
    width: 994px;
    height: 164px;
    background: #ebebeb;
}

.recom_bd ul li {
    float: left;
    position: relative;
    width: 245px;
    height: 164px;
}

.recom_bd ul li:nth-child(-n+3):after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 161px;
    border-right: 1px solid #ccc;
}

/* recom_hd 结束 */