body {
    height: 3000px;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 2px solid #b1191a;
    height: 84px;
    line-height: 84px;
}

/* .regiester_area start  */
.regiester_area {
    margin-top: 19px;
    border: 1px solid #ccc;
    height: 510px;
}

.regiester_area h3 {
    padding: 0 10px;
    height: 43px;
    line-height: 43px;
    background: #ececec;
}

.login {
    float: right;
}

.login span {
    color: #ff0000
}


.regiester_area .form_area {
    margin: 52px auto;
    height: 375px;
    width: 554px;
}

.form_area ul li label {
    display: inline-block;
    width: 83px;
    text-align: right;
    background: pink;
}

.form_area li {
    margin-bottom: 20px;
}

.form_area .inp {
    border: 1px solid #999999;
    width: 242px;
    height: 37px;
}

.form_area .error {
    color: #df3033;
}

.success_icon,
.error_icon {
    display: inline-block;
    width: 23px;
    height: 22px;
    vertical-align: middle;
    line-height: 22px;
}

.error_icon {
    background: url('../images/error.png') no-repeat;

}

.success {
    color: green;
}

.success_icon {
    background: url('../images/success.png') no-repeat
}

.save {
    padding-left: 174px;
}

.ruo,
.zhong,
.qaing {
    color: #fff;
    padding: 0 10px;
}

.ruo {
    background: #de1111;
}

.zhong {
    background: #40b83f;
}

.qaing {
    background: #f79100
}

.agree {
    padding-left: 88px;
}

.agree a {
    color: #1ba1e6
}

.sub_mit input {
    margin-left: 96px;
    width: 201px;
    height: 35px;
    color: #fff;
    background: #c81623;
}

/* .regiester_area  end  */