body {
    height: 3000px;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 2px solid #b1191a;
    height: 84px;
    line-height: 84px;
}

/* .regiester_area start  */
.regiester_area {
    margin-top: 19px;
    border: 1px solid #ccc;
    height: 510px;
}

.regiester_area h3 {
    padding: 0 10px;
    height: 43px;
    line-height: 43px;
    background: #ececec;
}

.login {
    float: right;
}

.login span {
    color: #ff0000
}

/* .regiester_area  end  */